*, html {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
background: #151515; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: #0E0E0E;
}

div.downloads {
    background-color: #232323;
    margin: 0px;
    display: flex;
}
h1.downloads {
    color: #FFF;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    padding-bottom: 4em;
    text-align: center;
    
}
h2.downloads {
    color: #FFF;
    font-size: 2.0em;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 1em;
}

p.downloads {
    color: #FFF;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 1em;
}
div.downloads-list {
    border-left: 40px solid #FFF;
}
div.download {
    border-left: 10px solid #FFF;
    margin: 10px;
}
a.downloads {
    color: #CCF;
    font-family: 'Open Sans', sans-serif;
}