*, html {
    margin: 0 auto;
    padding: 0 auto;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
background: #151515; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}
a.nav-top {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 2.3em;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 5px solid white;
    margin-bottom: 5px;
}
a.nav-top-noline {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 2.3em;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 5px solid #00000000;
    margin-bottom: 5px;
}

li.selected {
    background-color: #222;
}

body {
    background-color: #0E0E0E;
}
a.link {
    color: #CCF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-bottom: 3px solid #fff;
}